a.navbar-brand{
    height: auto;
}
ul.nav.navbar-nav {
    background: transparent;
}
.navbar-default{
    margin: 0;
}
.header .collapse.navbar-collapse {
    float: right;
    margin-top: 55px;
    margin-right: 0;
    padding-right: 0;

}
.header .navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}
.header .navbar-default .navbar-nav>li>a:hover{
    color: #ec0f0f
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: transparent;
    color: #ec0f0f;
}
.header .navbar-default .navbar-nav {
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;
}
.your_plan.navbar-right {
    float: none !important;
    margin-right: 0px;
    vertical-align: middle;
    display: inline-block;
}
.your_plan.navbar-right {
    float: none !important;
    margin-right: 0px;
    vertical-align: middle;
    display: inline-block;
}
.plan_head {
    display: inline-block;
    vertical-align: middle;
}
.plan_head>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header .your_plan .dropdown .dropdown-toggle {
    background: #f8f8f8;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}
.header .your_plan .dropdown-toggle figure {
    display: inline-block;
    height: 18px;
    vertical-align: top;
    width: 18px;
    line-height: 15px;
}
.buttons_right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.your_btn>button {
    background: #ec0f0f;
    border: 1px solid #ec0f0f;
    border-radius: 4px;
    padding: 10px 22px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.item{height: 450px;}
.head_content h1{
    font-size: 44px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 700;
}
.head_content p{
    font-size: 22px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
}
.head_content.text-center {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
}
.carousel-control.right{
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: none;
    background-image:none;
}
.carousel-control.left{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: none;
     background-image:none;
}