@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,600,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

/** font-family: 'Oswald', sans-serif; **/


/** font-family: 'Nunito Sans', sans-serif; **/


/** font-family: 'Lato', sans-serif; **/

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

input,
textarea,
select {
    font-weight: normal;
}

* {
    outline: none;
}

* {
    box-sizing: border-box;
}

select::-ms-expand {
    display: none;
}

 ::selection {
    background: #d85043;
    color: #fff;
}

.form-control:focus {
    border-color: #d5d5d5;
    box-shadow: none;
    outline: 0 none;
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.clearfix {
    clear: both;
}

.book_line {
    border: 1px solid #e3e3e3;
    margin-bottom: 70px;
    margin-top: 70px;
}

.footer .book_line {
    border: 1px solid #e3e3e3;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
/* Thank You Page */
.thankyou-cover {
    position: relative;
}

.contact-page {
    position: relative;
}
[data-section] {
    padding: 110px 0;
}
.thankyou-cover .tick {
    display: block;
    margin: 0 auto 70px;
    width: 160px;
    height: 160px;
    color: #16bb16;
    text-align: center;
    font-size: 65px;
    line-height: 160px;
    border: solid 2px #16bb16;
    border-radius: 100%;
}
.thankyou-cover .thnkyou-message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
}
.thankyou-cover .thnkyou-message p {
    margin: 0;
    font-size: 18px;
}

/* - Sidebar-Icon-Css - */

.side-menu.main {
    width: 13em;
    height: auto;
    margin: 4em auto 0;
    font-size: 1em;
    line-height: 2em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    /* top: 410px;*/
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -10em;
    z-index: 999;
}

.side-menu {
    width: 13em;
    height: auto;
    margin: 4em auto 0;
    font-size: 1em;
    line-height: 2em;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    /* top: 410px;*/
    top: 45%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -10em;
    z-index: 999;
}

.side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-menu ul li {
    display: block;
    background-color: #333;
    height: 40px;
    padding: 6px 24px;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s, background-color .5s, color .5s;
    transition: transform .5s, background-color .5s, color .5s;
}


/*the colors of the different columns*/

.side-menu ul li:nth-child(1) {
    background-color: #3b5998;
}

.side-menu ul li:nth-child(2) {
    background-color: #dc472e;
}

.side-menu ul li:nth-child(3) {
    background-color: #01afef;
}


/*.side-menu ul li:nth-child(4) { background-color: #1e7145;}
.side-menu ul li:nth-child(5) { background-color: #ffc40d;}
.side-menu ul li:nth-child(6) { background-color: #cb2027;}*/

.side-menu ul li:hover {
    background-color: #3b5998;
    -webkit-transform: translateX(-6em);
    transform: translateX(-6em);
}

.side-menu ul li:nth-child(2):hover {
    background-color: #dc472e;
}

.side-menu ul li:nth-child(3):hover {
    background-color: #01afef;
}

.side-menu ul li a {
    display: block;
    color: #FFF;
    padding-left: 19px;
    text-decoration: none;
}

.side-menu ul li span {
    display: block;
    position: absolute;
    font-size: 20px;
    line-height: 2em;
    height: 2em;
    top: -14px;
    bottom: 0px;
    left: -6px;
    margin: 0 auto;
    padding: 14px 20px;
    right: 0.16666666666667em;
    color: #F8F6FF;
}


/* - //Sidebar-Icon-Css - */

@media screen and (min-width:1470px) {
    .container {
        width: 1440px;
    }
}


/*Bootdtrap-css*/

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin: 0;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: auto;
    line-height: 0;
    padding: 0;
}

.navbar {
    border: 1px solid transparent;
    margin-bottom: 0;
    position: relative;
    min-height: 1px;
}

.navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
}

.your_plan.navbar-right {
    float: none !important;
    margin-right: 0px;
    vertical-align: middle;
    display: inline-block;
}

.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}


/*//Bootdtrap-css*/


/* Header-Section-Start */

.header {
    background: #fff;
    padding: 13px 0;
}

.navbar-brand>figure {
    width: 100%;
    max-width: 118px;
}

.header .navbar-default {
    background-color: transparent;
    border: none;
}

.header .collapse.navbar-collapse {
    float: right;
    margin-top: 33px;
}

.header .navbar-default .navbar-nav {
    margin-top: 20px;
    display: inline-block;
    vertical-align: middle;
}

.header .navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.header .navbar-nav>li {
    padding-right: 35px;
}

.header .navbar-default .navbar-nav>.open>a,
.header .navbar-default .navbar-nav>.open>a:focus,
.header .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #ec0f0f;
}

.header .navbar-default .navbar-nav>li>a:focus,
.header .navbar-default .navbar-nav>li>a:hover {
    color: #ec0f0f;
}

.header .navbar-default .navbar-nav>.active>a,
.header .navbar-default .navbar-nav>.active>a:focus,
.header .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #ec0f0f;
}

.header .your_plan .dropdown .dropdown-toggle {
    background: #f8f8f8;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding: 15px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.header .your_plan .dropdown-toggle figure {
    display: inline-block;
    height: 18px;
    vertical-align: top;
    width: 18px;
    line-height: 15px;
}

.header .your_plan .dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .caret {
    color: #ec0f0f;
}


/* Buttons-Css*/

.your_btn>button {
    background: #ec0f0f;
    border: 1px solid #ec0f0f;
    border-radius: 4px;
    padding: 15px 25px;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.your_btn>button:hover {
    background: none;
    border: 1px solid #ec0f0f;
    color: #ec0f0f;
}


/* Buttons-Css*/

.plan_head {
    display: inline-block;
    vertical-align: middle;
}

.plan_head>ul {
    margin: 0;
    padding: 0;
}

.buttons_right {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}


/* Banner_Section-Start */

.banner .carousel-inner .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 780px;
}


/*  carousel-control */

.banner .carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;
}

.banner .carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
    left: auto;
    right: 0;
}

.banner .carousel-control {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    height: 77px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*  //carousel-control */

.banner .carousel-control img {
    width: 45px;
}

.head_content {
    left: 15px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.head_content h1 {
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.head_content p {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
}


/* Book-Now-Section */

.book_now {
    padding-top: 80px;
}

.book_now .book h3 {
    color: #323232;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.book_now .book p {
    color: #000;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 40px;
}

.book_btn .your_btn>button {
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    padding: 15px 70px;
}

.book_btn .your_btn>button:hover {
    color: #ec0f0f;
}


/* Event-Section-Css */

.event .event_head {
    margin-bottom: 70px;
}

.event .event_head h2 {
    color: #323232;
    font-size: 48px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.event_list figure {
    width: 100%;
    max-width: 460px;
    height: 165px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

.event_list .event_content a {
    color: #323232;
    display: block;
    font-family: "Nunito Sans", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.event_list .event_content a:hover {
    color: #ff0000;
}

.event_list .event_content p {
    font-size: 18px;
    line-height: 1.7;
    color: #000;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 25px;
}

.recommended a {
    background: #ec0f0f;
    border: 1px solid #ec0f0f;
    text-align: center;
    padding: 35px 0;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    display: block;
}

.recommended a:hover {
    background: none;
    border: 1px solid #ec0f0f;
    color: #ec0f0f;
}

.date {
    background: rgba(0, 0, 0, 0.76);
    margin: 0 auto;
    max-width: 155px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 33%;
}

.date h5 {
    color: #fff;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

.event .book_line {
    margin-top: 90px;
    margin-bottom: 30px;
}


/* Footer_Section-Start */

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.footer_logo {
    text-align: center;
}

.footer_nav>ul {
    padding: 0;
    list-style: none;
    margin: 0;
    display: inline-block;
}

.footer_nav>ul li {
    padding: 0 30px;
    float: left;
    position: relative;
}

.footer_nav>ul li:after {
    content: "";
    background-color: #000;
    display: block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 1px;
}

.footer_nav>ul li:first-child:after {
    width: 0;
}

.footer_nav>ul li a {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

.address_contact {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.footer_nav>ul li a:hover {
    color: #ec0f0f;
}

.address {
    margin: 20px 0;
}

.address>ul {
    padding: 0;
    list-style: none;
    margin: 0;
    display: inline-block;
}

.address>ul li {
    float: left;
    padding: 0 45px;
}
.address>ul li i{
	 color: #ec0f0f;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}
.address>ul li a i {
    color: #ec0f0f;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}

.address_map i {
    color: #ec0f0f;
    font-size: 18px;
}

.address_map p {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

.address p {
    display: inline-block;
    margin-left: 0;
    vertical-align: top;
}

.address>ul li a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}
.address>ul li span{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}
.address>ul li a:hover {
    color: #ec0f0f;
}

.sociol-icon>ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sociol-icon>ul li {
    float: left;
    padding: 0 15px;
}

.sociol-icon>ul li a i {
    border: 2px solid #000;
    color: #000;
    font-size: 16px;
    width: 38px;
    height: 38px;
    line-height: 36px;
    border-radius: 50%;
    display: block;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sociol-icon>ul li a:hover i {
    border: 2px solid #000;
    background: #000;
    color: #fff;
}

.footer_nav {
    display: table;
    margin: 30px auto;
}

.sociol-icon {
    display: table;
    margin: 30px auto;
}

.i_mark {
    position: relative;
    top: 0;
    left: 0;
}

.i_mark p {
    position: absolute;
    top: 0;
    left: 0;
}

.address {
    display: block;
    margin: 30px auto;
}

.footer_bottom {
    background: #000;
    padding: 35px 0 15px;
    color: #fff;
    text-align: center;
}

.footer_bottom p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    display: inline-block;
    vertical-align: middle;
}

.i_mark {
    position: relative;
    top: -21px;
    right: 0;
}

.i_mark:after {
    position: absolute;
    top: -21px;
    right: 0;
}

.i_mark span {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

.i_mark a {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

.i_mark a:hover {
    color: #ed3644;
}


/* About-Us-Page-Start */

.inner-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
}

.inner-banner .container {
    height: 100%;
}

.about_head {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.about_head h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    text-shadow: 0 1px 3px #000;
}

.our_conpany {
    padding: 70px 0 0;
}

.company_head h3 {
    color: #323232;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.company_detail {
    padding: 55px 0 75px;
}

.company_detail p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    line-height: 1.8;
    word-spacing: 2px;
}

.our_conpany.team {
    padding-bottom: 35px;
}

.team .company_head h3 {
    text-align: center;
}

.our_team {
    padding-top: 60px;
}

.our_team .team_member figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 460px;
    height: 280px;
}

.our_conpany figure img {
    width: 100%;
}

.our_team .team_content {
    padding: 35px 0 0;
}

.our_team .team_content h4 {
    margin-bottom: 30px;
}

.our_team .team_content a {
    color: #323232;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
}

.our_team .team_content a:hover {
    color: #ef3544;
}

.our_team .team_content p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6;
}


/*  Our-Destination-Pagrs */

.book_line_2 {
    border: 1px solid #e3e3e3;
    margin-bottom: 0px;
    margin-top: 70px;
}

.try_first {
    margin: 10px 0 80px;
}

.our_conpany.destination .company_detail {
    padding: 40px 0;
}

.try_content h3 {
    text-align: center;
    margin-bottom: 20px;
}

.try_content h3 a {
    color: #323232;
    font-size: 46px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.try_content h3 a:hover {
    color: #ec0f0f;
}

.try_content p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.8;
    word-spacing: 1px;
}

.try_content figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 35px;
    width: 100%;
    max-width: 460px;
    height: 280px;
}

.image_hover {
    position: relative;
    width: 100%;
}

.figure {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(239, 50, 66, 0.34);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.image_hover:hover .overlay {
    bottom: 0;
    height: 100%;
}

.we_are {
    text-align: center;
    padding: 25px 0 20px;
    border-top: 2px solid #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
}

.we_are span {
    color: #ef3242;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
}


/* Blog-Page-Css */

.blog {
    padding: 80px 0 0;
}

.blog_detail {
    position: relative;
    margin-bottom: 30px;
}

.blog_image {
    width: 100%;
    max-width: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -14%;
}

.blog_content {
    width: 100%;
    max-width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.content {
    top: 30px;
    right: 0;
    padding: 50px;
    width: 500px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.32);
}

.blog_image figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 585px;
    height: 465px;
}

.content h4 a {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    margin-bottom: 12px;
}

.content h4 a:hover {
    color: #ee2d3b;
}

.content ul {
    padding: 0;
    list-style: none;
    margin: 5px 0;
}

.content ul li {
    display: inline-block;
    padding: 0 5px;
    color: #ed3644;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
}

.content ul li a {
    color: #ed3644;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
}

.content p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.8;
    margin-bottom: 22px;
}

.blog_btn {
    background: #ed3644;
    border: 1px solid #ed3644;
    color: #fff;
    padding: 15px 20px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blog_btn:hover {
    background: none;
    border: 1px solid #ed3644;
    color: #ed3644;
}

.blog_right {
    margin-bottom: 35px;
}

.blog_about {
    background: #f9f9f9;
    width: 100%;
    max-width: 330px;
    padding: 25px;
    float: right;
}

.blog_about figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 290px;
    height: 190px;
    margin: 20px 0;
}

.blog_about h4 {
    color: #1d1d1d;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
}

.blog_about h4:after {
    border-bottom: 2px solid #ed3644;
    content: "";
    display: block;
    width: 60px;
    margin: 10px 0;
}

.blog_about h4 span {
    color: #ed3644;
}

.blog_about p {
    color: #3c3c3c;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 20px;
}

.blog_search {
    padding: 15px 0 0;
}

.inner-addon .form-control {
    border: 1px solid #d8d8d8;
    box-shadow: none;
    background: #fff url("../images/search.png") no-repeat 92% 50%;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    height: 60px;
    border-radius: 1px;
    padding-right: 55px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.inner-addon .form-control::-webkit-input-placeholder { color:#2b2b2b; }
.inner-addon .form-control::-moz-placeholder { color:#2b2b2b; } /* firefox 19+ */
.inner-addon .form-control:-ms-input-placeholder { color:#2b2b2b; } /* ie */ 
.inner-addon .form-control:-moz-placeholder { color:#2b2b2b; }
.inner-addon .form-control:hover {
    border: 1px solid #ff0000;
}

.blog_about ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.blog_about ul li {
    padding: 12px 0;
    border-bottom-style: dotted;
    border-color: #d5d5d5;
}

.blog_about ul li:last-child {
    border: none;
}

.blog_about ul li a {
    color: #3c3c3c;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.blog_about ul li a:hover {
    color: #ee2d3b;
}


/* Blog-Internal-Page-Css */

.blog-internal .blog_inner figure {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 950px;
    height: 465px;
}

.blog-internal .blog_content {
    width: 100%;
    max-width: 950px;
}

.blog-internal .blog_content .content {
    width: 100%;
    background: #f9f9f9;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.32);
}

.blog-internal .like ul li {
    color: #363636;
    padding-right: 15px;
}

.blog-internal .like ul li a {
    color: #363636;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.blog-internal .like ul li a figure {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.blog-internal .like ul li a figure svg {
    height: 13px;
    width: 13px;
    fill: #363636;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.blog-internal .like ul li a:hover {
    color: #ef3744;
}

.blog-internal .like ul li a:hover figure svg {
    fill: #ef3744;
}


/* Testimonials-Pages */

.testimonial {
    padding: 80px 0 0;
}

.testimonial_content {
    border: 1px solid #d8d8d8;
    padding: 55px 145px 55px 100px;
    text-align: center;
    width: 100%;
    max-width: 1250px;
    margin: 25px auto;
}

.testimonial_content p {
    color: #3c3c3c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    position: relative;
    margin-bottom: 30px;
}

.testimonial_content .date_head strong {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
}

.testimonial_content p:last-of-type:after {
    content: "";
    height: 35px;
    width: 40px;
    display: block;
    background: url(../images/two-quotes.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -50px;
    bottom: -15px;
}

.testimonial_content p:first-of-type:before {
    content: "";
    height: 35px;
    width: 40px;
    display: block;
    background: url(../images/left-quote.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -50px;
    top: -15px;
}


/* //Testimonials-Pages */


/** Contact-Us-Page **/

.contact_us {
    padding: 70px 0 10px;
}

.contact {
    padding: 65px 0 0;
}

.contact_form .form-group {
    margin-bottom: 20px;
}

.contact_form .form-group label {
    color: #323232;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 8px;
}

.contact_form .form-group label sup {
    top: -.0em;
    font-size: 16px;
    left: 2px;
    color: #ed3644;
}

.contact_form .form-group .form-control {
    height: 65px;
    background: #f8f8f8;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    box-shadow: none;
    color: #323232;
    font-size: 20px;
	text-transform: capitalize;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
}

.contact_form .form-group.btn {
    margin: 20px 0 0;
    padding: 0;
}

.contact_form {
    padding-right: 30px;
}

.contact_address {
    padding-left: 20px;
}

.contact_form .form-group.btn .blog_btn {
    padding: 19px 40px;
}

.address_svg {
    margin-bottom: 44px;
}

.address_svg figure {
    border: 1px solid #ed3644;
    height: 56px;
    width: 56px;
    text-align: center;
    border-radius: 50%;
    line-height: 90px;
    display: inline-block;
    vertical-align: middle;
}

.address_svg figure svg {
    height: 50px;
    width: 25px;
    fill: #ed3644;
}

.svg_icon {
    width: 100%;
    max-width: 85px;
    display: inline-block;
}

.address_content {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 580px;
}

.address_content h5 {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.address_content p {
    color: #565656;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.6;
    font-family: 'Nunito Sans', sans-serif;
}

.address_content.mail span {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.6;
    font-family: 'Nunito Sans', sans-serif;
}

.address_content.mail p a {
    color: #565656;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.6;
    font-family: 'Nunito Sans', sans-serif;
}

.address_content.mail p a:hover {
    color: #ed3644;
}


/** //Contact-Us-Page **/


/* Golf-Courses_Pages */

.golf_courses .golf_right .golf_content h3 {
    color: #323232;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 15px;
}

.golf_courses .golf_right .golf_content p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    font-family: 'Nunito Sans', sans-serif;
}
/* Golf-Courses-Css */

.golf_courses{
	padding:65px 0 0;
}
.golf_courses h3{
	color:#323232;
	font-size:48px;
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	text-transform:uppercase;
	margin-bottom:35px;
}
.golf_left .panel-default > .panel-heading{
	background:#ec0f0f;
	padding:0;
}
.golf_left .panel{
	border:none;
	border-radius:0;
}
.golf_left .panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius:0;
}
.golf_left  .panel-title {
    padding-left: 10px;
}
.golf_left .panel-body ul{
	padding:0;
	list-style:none;
	margin:0;
}
.golf_left .panel-body ul li{
	padding:15px 0;
}
.golf_left .panel-body ul li a{
	color:#393939;
	padding-left: 10px;
	font-size:20px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:600;
	position:relative;
}

.golf_left .panel-body ul li.active a{
	color:#ec0f0f;
	text-decoration-color:#ec0f0f;
	text-decoration:underline;
}

.golf_left .panel-title a{
	color:#fff;
	font-size:24px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	position:relative;
	display: block;
	padding: 20px;
}
.golf_left .panel-title a:after{
	font-family: "FontAwesome";
	content: "\f068";
	position: absolute;
	right: 20px;
	font-size: 20px;
	font-weight: 400;
	top: 50%;
	line-height: 1;
	margin-top: -10px;
}
.golf_left .panel-title a.collapsed:after {
	content: "\f067";
}
.golf_left .panel-body ul li a:hover{
	color:#ec0f0f;
}
.golf_left .panel-body ul li a i,
.golf_left .panel-title a i{
	margin-right:10px;
	font-size:18px;
}
.golf_right {
	margin-left:25px;
}
.golf_right h3{
	color:#323232;
	font-size:24px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:700;
	margin-bottom:3px;
}
.golf_right p{
	color:#000;
	font-size:20px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:300;
	line-height:1.8;
}
.golf_table{
	margin-top:35px;
	margin-bottom:50px;
}
.golf_table h4{
	color:#ec0f0f;
	font-size:24px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:700;
	margin-bottom:15px;
}
.golf_table p{
	color:#000;
	font-size:18px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:300;
	line-height:1.8;
}
.golf_table .table{
	margin-top:35px;
}
.golf_table .table tr th{
	width:220px;
	padding-left:25px;
	padding-top:15px;
	padding-bottom:15px;
}
.golf_table .table tr td{
	width:220px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:30px;
}
.golf_table .table th{
	color:#393939;
	font-size:20px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:600;
}
.golf_table .table td{
	color:#888888;
	font-size:18px;
	padding-left:15px 0;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:600;
}
.our_golf{
	margin-top:30px;
}
.our_golf h4{
	color:#000;
	font-size:22px;
	font-style:italic;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:600;
	margin-bottom:20px;
}

.our_golf  ul{
	padding-left:10px;
}
.our_golf  ul li{
	padding:20px 0;
	color:#000;
	font-size:18px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:400;
}
.golf_table.package p{
	color: #000;
	font-size: 18px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	line-height: 1.8;
	margin-bottom:25px;
}
.golf_table.package ul{
	padding-left:10px;
}
.golf_table.package ul li{
	padding:15px 0;
	color:#000;
	font-size:18px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:400;
}
.golf_table.package .we_book p{
	color:#000;
	font-size:20px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:600;
}
.golf_table.package .we_book p span{
	color:#ec0f0f;
}
.golf_table.package .we_book strong{
	font-size:30px;
	color:#000;
	font-weight:700;
	font-family: 'Nunito Sans', sans-serif;
	margin:20px 0 0;
	display:block;
}
/*  Thailand-Golf- Css */
.thailand_golf p{
	margin-bottom:40px;
}
.famous_p{
	text-align:center;
	padding:25px 0;
}
.famous_p h3{
	font-size:48px;
	color:#323232;
	text-transform:uppercase;
	font-weight:400;
	font-family: 'Oswald', sans-serif;
	margin-bottom:55px;
}
.famous_p figure{
	width:100%;
	max-width:1440px;
	height:auto;
	margin-bottom:40px;
}
.famous_p figure img{
	width:100%;
}
.famous_p p{
	font-size:20px;
	color:#323232;
	text-transform:uppercase;
	font-weight:700;
	font-family: 'Nunito Sans', sans-serif;
}
.thailand{
	text-align:left;
	margin:25px 0;
}
.thailand p{
	font-size:18px;
	color:#000;
	line-height:1.9;
	font-weight:400;
	font-family: 'Nunito Sans', sans-serif;
	margin-bottom:35px;
	word-spacing:2px;
}
.thailand p strong{
	font-size:18px;
	color:#000;
	font-weight:700;
	font-family: 'Nunito Sans', sans-serif;
}
.play figure{
	width:100%;
	max-width:1440px;
	height:auto;
	margin-bottom:40px;
}
.play figure img{
	width:100%;
}	
.play h4{
	font-size:20px;
	color:#000;
	text-transform:uppercase;
	font-weight:700;
	font-family: 'Nunito Sans', sans-serif;
	margin-bottom:40px;
}
.play p{
	font-size:18px;
	color:#000;
	font-weight:400;
	font-family: 'Nunito Sans', sans-serif;
	line-height:1.8;
	margin-bottom:40px;
}
/* ======================================
            Small-Desktop-Query 
=======================================*/

@media screen and (max-width:1439px) {
    /* - Sidebar-Icon-Css - */
    .side-menu.main {
        /* top: 260px;*/
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .side-menu {
        /* top: 260px;*/
        position: absolute;
        top: 40%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .header .navbar-brand {
        width: 100%;
        max-width: 90px;
        height: 90px;
    }
    .banner .carousel-control img {
        width: 35px;
    }
    .header {
        padding: 10px 0;
    }
    .header .navbar-brand img {
        width: 100%;
    }
    .header .navbar-default .navbar-nav>li>a {
        font-size: 14px;
    }
    .header .your_plan .dropdown .dropdown-toggle {
        padding: 9px 10px;
        font-size: 14px;
    }
    .banner .carousel-inner .item {
        height: 550px;
    }
    .your_btn>button {
        padding: 9px 20px;
        font-size: 15px;
    }
    .header .navbar-nav>li {
        padding-right: 15px;
    }
    .header .navbar-default .navbar-nav {
        margin-top: 12px;
    }
    .header .collapse.navbar-collapse {
        margin-top: 22px;
    }
    .head_content h1 {
        font-size: 52px;
        margin: 0;
    }
    .event .event_head {
        margin-bottom: 55px;
    }
    .book_line {
        margin-bottom: 55px;
        margin-top: 55px;
    }
    .head_content p {
        font-size: 17px;
        line-height: 5px;
    }
    .book_now .book h3 {
        font-size: 38px;
    }
    .book_now .book p {
        font-size: 16px;
        margin-bottom: 17px;
    }
    .book_btn .your_btn>button {
        font-size: 19px;
        padding: 15px 65px;
    }
    .event_list .event_content a {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .event_list .event_content p {
        font-size: 16px;
    }
    .recommended {
        padding: 22px 0;
    }
    .event .book_line {
        margin-top: 80px;
        margin-bottom: 30px;
    }
    .recommended a {
        font-size: 19px;
        padding: 28px 0;
    }
    .address>ul li a {
        font-size: 15px;
    }
    .address>ul li {
        float: left;
        padding: 0 40px;
    }
    .address>ul li a i {
        padding-right: 15px;
    }
    /*About-Page-Css */
    .our_team .team_member figure {
        height: 220px;
    }
    .try_content figure {
        height: 220px;
    }
    .our_team .team_content {
        padding: 25px 0 0;
    }
    .our_team .team_content h4 {
        margin-bottom: 20px;
    }
    .about_head h2 {
        font-size: 56px;
    }
    .our_conpany {
        padding: 55px 0 0;
    }
    .company_head h3 {
        font-size: 42px;
    }
    .inner-banner {
        /* height: 500px;*/
        height: 420px;
    }
    .company_detail {
        padding: 40px 0 60px;
    }
    .try_first {
        margin: 10px 0 60px;
    }
    .book_line_2 {
        margin-top: 45px;
    }
    .our_conpany.destination .company_detail {
        padding: 30px 0;
    }
    .try_content h3 a {
        font-size: 36px;
    }
    .try_content p {
        font-size: 14px;
    }
    .we_are {
        padding: 20px 0 15px;
    }
    .we_are span {
        font-size: 28px;
    }
    .content h4 {
        margin-bottom: 5px;
    }
    .content ul {
        margin: 5px 0 0;
    }
    .content p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .blog_image figure {
        max-width: 460px;
        height: 340px;
    }
    .blog_content {
        width: 100%;
        max-width: 50%;
        display: inline-block;
        vertical-align: middle;
    }
    .content {
        top: 25px;
        padding: 15px 25px;
        width: 405px;
    }
    .blog_right {
        margin-bottom: 15px;
    }
    .blog_about p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
    .inner-addon .form-control {
        height: 42px;
    }
    .blog_search {
        padding: 10px 0 0;
    }
    .blog_btn {
        padding: 10px 20px;
    }
    .blog_about {
        padding: 10px 20px;
    }
    .blog_about h4 {
        font-size: 20px;
    }
    .blog_about figure {
        margin: 15px 0;
    }
    .blog_about ul li {
        padding: 8px 0;
    }
    /* Blog-Internal-Page */
    .blog-internal .blog_inner figure {
        height: 300px;
    }
    .blog-internal .blog_content .content {
        padding: 35px;
    }
    /* Contact-Us-Page */
    .contact_form .form-group .form-control {
        height: 60px;
        font-size: 18px;
    }
    .contact_form .form-group.btn .blog_btn {
        padding: 15px 35px;
    }
    .svg_icon {
        max-width: 70px;
    }
    .address_content {
        max-width: 460px;
    }
    .address_content h5 {
        font-size: 20px;
    }
    .address_content.mail p a {
        font-size: 20px;
    }
    .address_content.mail span {
        font-size: 20px;
    }
    .address_content p {
        font-size: 17px;
        line-height: 1.4;
    }
    .footer .book_line {
        max-width: 890px;
    }
	/*  GOLf-Packages  */
	.golf_courses h3 {
		font-size: 38px;
	}
	.golf_right h3{
		font-size:22px;
	}
	.golf_left .panel-body ul li a {
		font-size: 16px;
	}
	.our_golf {
		margin-top: 20px;
	}
	.golf_right p{
		font-size:18px;
	}
	.golf_table.package p{
		margin-bottom:15px;
	}
	.golf_table {
		margin-top: 20px;
		margin-bottom: 35px;
	}
	.golf_table.package .we_book p {
		font-size: 18px;
	}
	.thailand_golf p {
		margin-bottom: 25px;
	}
	.famous_p h3 {
		font-size: 42px;
		margin-bottom: 45px;
	}
	.thailand p strong {
		font-size: 16px;
	}
}
